.btn {
  border: none;
  color: #fff;
  border-radius: 4px;
  background-color: #1976d2;
  width: 8rem;
  height: 2.25rem;
  font-size: 1rem;
  margin: 10px;
  cursor: pointer;
  &:hover {
    background-color: #1a237e;
  }
  &:focus {
    outline: none;
  }
}
