@import url("https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap");

.link {
  font-size: 22px;
  font-family: "Teko", sans-serif;
  font-weight: bold;
  border: 1px solid #fff;
  color: #fff;
  padding: 2px 5px;

  border-radius: 8px;
  &:hover {
    color: #fff;
    cursor: pointer;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    .logo_icon {
      margin-right: 5px;
    }
  }
}
