.header {
  height: 60px;
  background: linear-gradient(45deg, #212121 30%, #263238 70%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
}
